.card {
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px black;
  border-style: solid;
  margin: 20px;
}

.bg-1 {
  background-color: #777;
}
.bg-2 {
  background-color: #999;
}
.bg-3 {
  background-color: #bbb;
}
.bg-4 {
  background-color: #ddd;
}
.bg-5 {
  background-color: #fff;
}

.delete-button {
	position: relative;
	left: 250px;
	top: 10px;
}